header{
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.movie-reviwer-nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}
.movie-reviwer-nav-content h1{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}
.movie-reviwer-nav-content a{
  text-decoration: none;
}

.movie-reviewer-contact-container{
  display: flex;
  align-items: center;
  color: #FFF;
}
.movie-reviewer-contact-link{
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #FFF;
}